@{
    ViewBag.Title = "Registration Complete";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Content/Account/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/Account/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        .btn {
            background-color: rgb(55,105,236);
            border: #2e6da4;
            font-family: Arial, Geneva, Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #fff;
            letter-spacing: 1px;
            padding: 8px 12px;
            font-size: 14px;
            font-weight: normal;
            border-radius: 100px;
            line-height: 1.5;
            text-decoration: none;
            box-shadow: 1px 1px 8px rgb(55,105,236);
        }
    </style>
</head>
<body style="overflow-y:hidden">
    <button class="btn" onclick="window.location.href='/Home/Index'" style="float:right">
        <i class="fas fa-home"></i>
    </button>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Content/Account/images/signin-image.png" alt="sing up image"></figure>
                        <button onclick="window.location.href='/Account/Login'" class="btn">
                            Open Gmail ?
                        </button>
                    </div>
                    <div class="signin-form">
                        <h2>
                            Registration Complete
                        </h2>
                        <h3>Your can now Start tour shopping Experience</h3>
                        <h2>🙂</h2>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/Content/Account/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Account/js/main.js"></script>
</body>
</html>











