
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Content/Account/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/Account/css/style.css">
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/Content/Account/images/signin-image.png" alt="sing up image"></figure>
                        <a href="/LT/Register" class="signup-image-link">New to EnginXpress ?</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">EnginX Login</h2>
                        <form  class="register-form" id="login-form" onsubmit="alert('text');">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input onclick="window.location.href = '@Url.Action("Index","Home")'" type="submit" name="signin" id="signin" class="form-submit bcolor" value="Log in" style="background-color: rgb(6 9 182) !important;"  />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/Content/Account/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Account/js/main.js"></script>
</body>
</html>

