@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4 ">
        <div class="cardsssss bg-c-blue order-cardsssss">
            <div class="cardsssss-block">
                <h6 class="m-b-20">Customers</h6>
                <p class="m-b-0 text-light">
                    <button class="btn btn-md btn-dark">
                        Generate Report
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 ">
        <div class="cardsssss bg-c-blue order-cardsssss">
            <div class="cardsssss-block">
                <h6 class="m-b-20">Sales </h6>
                <p class="m-b-0 text-light">
                    <button class="btn btn-md btn-dark">
                        Generate Report
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 ">
        <div class="cardsssss bg-c-blue order-cardsssss">
            <div class="cardsssss-block">
                <h6 class="m-b-20">Products </h6>
                <p class="m-b-0 text-light">
                    <button class="btn btn-md btn-dark">
                        Generate Report
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="cardsssss bg-c-blue order-cardsssss">
            <div class="cardsssss-block">
                <h6 class="m-b-20">Suppliers </h6>
                <p class="m-b-0 text-light">
                    <button class="btn btn-md btn-dark">
                        Generate Report
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="cardsssss bg-c-blue order-cardsssss">
            <div class="cardsssss-block">
                <h6 class="m-b-20">Stock</h6>
                <p class="m-b-0 text-light">
                    <button class="btn btn-md btn-dark">
                        Generate Report
                    </button>
                </p>
            </div>
        </div>
    </div>

</div>

