USE [master]
GO
/****** Object:  Database [Infinity_Db]    Script Date: 2021/08/31 10:38:08 ******/
CREATE DATABASE [Infinity_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Infinity_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Infinity_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Infinity_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Infinity_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Infinity_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Infinity_Db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[CityID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[HouseNumber] [int] NOT NULL,
	[StreetName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_administrator] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_cart] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Line]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Line](
	[CartLineID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CartID] [int] NOT NULL,
 CONSTRAINT [PK_Cart_Line] PRIMARY KEY CLUSTERED 
(
	[CartLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[cityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Code] [varchar](max) NOT NULL,
	[provinceID] [int] NOT NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Information]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Information](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[CompanyPhysicalAddress] [varchar](max) NULL,
	[CompanyTelephoneNumber] [varchar](50) NULL,
	[CompanyEmailAddress] [varchar](50) NULL,
	[CompanyLogo] [varchar](max) NULL,
 CONSTRAINT [PK_Company_Information] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AddressID] [int] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliverStatus]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliverStatus](
	[DeliveryStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_delivery order status] PRIMARY KEY CLUSTERED 
(
	[DeliveryStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[DeliveryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Description] [varchar](max) NULL,
	[DeliveryStatusID] [int] NULL,
 CONSTRAINT [PK_delivery] PRIMARY KEY CLUSTERED 
(
	[DeliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsCheckedIn] [bit] NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[OrderID] [int] NULL,
	[Rating] [char](2) NOT NULL,
 CONSTRAINT [PK_feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryDescription] [varchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log-In]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log-In](
	[LogInID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Time] [time](3) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_log-in] PRIMARY KEY CLUSTERED 
(
	[LogInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log-out]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log-out](
	[LogOutID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Time] [time](3) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_log-out] PRIMARY KEY CLUSTERED 
(
	[LogOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Order_Number] [varchar](max) NULL,
	[Quantity] [int] NULL,
	[OrderStatusID] [int] NULL,
	[CustomerID] [int] NULL,
	[AddressID] [int] NULL,
	[PaymentID] [int] NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Product]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Product](
	[OrderProductID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Order_Product] PRIMARY KEY CLUSTERED 
(
	[OrderProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[OrderStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Order_Status] [varchar](max) NOT NULL,
 CONSTRAINT [PK_order_status] PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[Payment_Total] [money] NOT NULL,
	[Payment_Date] [date] NOT NULL,
	[Payment_Time] [time](7) NOT NULL,
	[isPaid] [bit] NOT NULL,
	[Payment_Amount] [money] NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Method]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Method](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nchar](10) NULL,
 CONSTRAINT [PK_Payment_Method] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](max) NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[Description] [varchar](max) NULL,
	[InStock] [bit] NULL,
	[Image] [varchar](max) NULL,
	[StockID] [int] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product Category]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product Category](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_product category] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product Type]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product Type](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_product type] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Content]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Content](
	[ProductContentID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product_Content] PRIMARY KEY CLUSTERED 
(
	[ProductContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
 CONSTRAINT [PK_province] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[Stock_code] [varchar](max) NOT NULL,
	[Stock_Amount] [int] NOT NULL,
	[Description] [varchar](max) NULL,
	[Date] [datetime] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_stock] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Line]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Line](
	[StockLineID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Reason] [varchar](50) NULL,
	[StockID] [int] NOT NULL,
	[Quantity] [char](10) NOT NULL,
 CONSTRAINT [PK_Stock_Line] PRIMARY KEY CLUSTERED 
(
	[StockLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](max) NOT NULL,
	[ContactName] [varchar](max) NOT NULL,
	[ContactNumber] [varchar](max) NOT NULL,
	[Email] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Website] [varchar](max) NULL,
 CONSTRAINT [PK_supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier Order Status]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier Order Status](
	[SOStatusID] [int] IDENTITY(1,1) NOT NULL,
	[SOStatusDescription] [varchar](max) NOT NULL,
 CONSTRAINT [PK_supplier order status] PRIMARY KEY CLUSTERED 
(
	[SOStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Order]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Order](
	[SupplierOrderID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[AdminID] [int] NOT NULL,
	[SOStatusID] [int] NOT NULL,
	[SupplierOrderNumber] [varchar](max) NOT NULL,
	[SupplierOrderDate] [datetime] NOT NULL,
	[SupplierOrderDescription] [varchar](max) NULL,
	[SupplierOrderQuantity] [int] NOT NULL,
	[SupplierOrderNote] [varchar](max) NULL,
 CONSTRAINT [PK_supplier_order] PRIMARY KEY CLUSTERED 
(
	[SupplierOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Order_Line]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Order_Line](
	[SupplierOrderLineID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierOrderID] [int] NOT NULL,
	[StockID] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Supplier_Order_Line] PRIMARY KEY CLUSTERED 
(
	[SupplierOrderLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](max) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[ContactNumber] [char](10) NULL,
	[UserRoleID] [int] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User Role]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User Role](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
 CONSTRAINT [PK_user role] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vat]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vat](
	[VatID] [int] IDENTITY(1,1) NOT NULL,
	[VatAmount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Vat] PRIMARY KEY CLUSTERED 
(
	[VatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffLine]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffLine](
	[WriteOffLineID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[WriteOffSID] [int] NOT NULL,
	[Quantity] [varchar](50) NOT NULL,
 CONSTRAINT [PK_WriteOffLine] PRIMARY KEY CLUSTERED 
(
	[WriteOffLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WriteOffS]    Script Date: 2021/08/31 10:38:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WriteOffS](
	[WriteOffSID] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [varchar](50) NOT NULL,
 CONSTRAINT [PK_WriteOffs] PRIMARY KEY CLUSTERED 
(
	[WriteOffSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressID], [CityID], [UserID], [HouseNumber], [StreetName]) VALUES (2, 2, 30, 5, N'Kingsford')
INSERT [dbo].[Address] ([AddressID], [CityID], [UserID], [HouseNumber], [StreetName]) VALUES (3, 8, 22, 79, N'Prairieview')
INSERT [dbo].[Address] ([AddressID], [CityID], [UserID], [HouseNumber], [StreetName]) VALUES (4, 2, 25, 784, N'Dennis')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([AdminID], [UserID]) VALUES (1, 25)
INSERT [dbo].[Administrator] ([AdminID], [UserID]) VALUES (2, 26)
INSERT [dbo].[Administrator] ([AdminID], [UserID]) VALUES (3, 27)
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'15d5bce2-596c-4de7-beb3-d06ed8e95a13', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4708ae04-1fac-4092-b82b-86fe0f3d69de', N'Cashier')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c224723f-9f22-438e-bb67-9b166e299aa0', N'Customer')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd21efc9a-426a-4f55-a414-f4a34ee42779', N'15d5bce2-596c-4de7-beb3-d06ed8e95a13')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'd21efc9a-426a-4f55-a414-f4a34ee42779', N'engenxpress@gmail.com', 1, N'ACOb4rbh43ZMrrWM2uw7Bug3nHsCUj+l2i5h4bNXGhZeQnacYxzbXp28He+2GMZowA==', N'f05ed796-bd43-402b-b6e7-14c2d3c51f1d', N'+27813419362', 1, 0, NULL, 0, 0, N'SuperUser')
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [CustomerID], [CreatedAt]) VALUES (1, 3, NULL)
INSERT [dbo].[Cart] ([CartID], [CustomerID], [CreatedAt]) VALUES (2, 4, NULL)
INSERT [dbo].[Cart] ([CartID], [CustomerID], [CreatedAt]) VALUES (3, 5, NULL)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart_Line] ON 

INSERT [dbo].[Cart_Line] ([CartLineID], [ProductID], [Quantity], [CartID]) VALUES (9, 3, 1, 10)
SET IDENTITY_INSERT [dbo].[Cart_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([cityID], [Name], [Code], [provinceID]) VALUES (1, N'Bhisho', N'1689', 1)
INSERT [dbo].[City] ([cityID], [Name], [Code], [provinceID]) VALUES (2, N'Bloemfontain', N'1298', 2)
INSERT [dbo].[City] ([cityID], [Name], [Code], [provinceID]) VALUES (4, N'Johannesburg', N'1817', 3)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Company_Information] ON 

INSERT [dbo].[Company_Information] ([CompanyID], [CompanyName], [CompanyPhysicalAddress], [CompanyTelephoneNumber], [CompanyEmailAddress], [CompanyLogo]) VALUES (1, N'EngineXpress', N'197 Jewel Street, Laudium, Pretoria, 0037', N'0123700197', N'engenxpress@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Company_Information] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [UserID], [AddressID]) VALUES (3, 30, 2)
INSERT [dbo].[Customer] ([CustomerID], [UserID], [AddressID]) VALUES (4, 22, 3)
INSERT [dbo].[Customer] ([CustomerID], [UserID], [AddressID]) VALUES (5, 24, 6)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliverStatus] ON 

INSERT [dbo].[DeliverStatus] ([DeliveryStatusID], [Description]) VALUES (1, N'Collection')
INSERT [dbo].[DeliverStatus] ([DeliveryStatusID], [Description]) VALUES (2, N'Received')
INSERT [dbo].[DeliverStatus] ([DeliveryStatusID], [Description]) VALUES (3, N'With Courier')
SET IDENTITY_INSERT [dbo].[DeliverStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([DeliveryID], [UserID], [Description], [DeliveryStatusID]) VALUES (1, 11, N'wetfr', 3)
INSERT [dbo].[Delivery] ([DeliveryID], [UserID], [Description], [DeliveryStatusID]) VALUES (6, 11, N'sdf', 3)
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [DateOfBirth], [UserID], [IsCheckedIn]) VALUES (1, CAST(N'1997-10-09' AS Date), 11, 0)
INSERT [dbo].[Employee] ([EmployeeID], [DateOfBirth], [UserID], [IsCheckedIn]) VALUES (2, CAST(N'1992-09-06' AS Date), 22, 1)
INSERT [dbo].[Employee] ([EmployeeID], [DateOfBirth], [UserID], [IsCheckedIn]) VALUES (3, CAST(N'1979-05-23' AS Date), 23, 0)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [Description], [OrderID], [Rating]) VALUES (1, N'Something', 1, N'5 ')
INSERT [dbo].[Feedback] ([FeedbackID], [Description], [OrderID], [Rating]) VALUES (3, N'sef', 2, N'5 ')
INSERT [dbo].[Feedback] ([FeedbackID], [Description], [OrderID], [Rating]) VALUES (4, N'nice', 3, N'4 ')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryID], [InventoryDescription], [Quantity]) VALUES (1, N'Big Macs', 11)
INSERT [dbo].[Inventory] ([InventoryID], [InventoryDescription], [Quantity]) VALUES (2, N'Small Macs', 22)
INSERT [dbo].[Inventory] ([InventoryID], [InventoryDescription], [Quantity]) VALUES (3, N'iMacs', 33)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Log-In] ON 

INSERT [dbo].[Log-In] ([LogInID], [UserID], [Time], [Date]) VALUES (23, 27, CAST(N'23:11:27' AS Time), CAST(N'1985-12-31' AS Date))
INSERT [dbo].[Log-In] ([LogInID], [UserID], [Time], [Date]) VALUES (24, 22, CAST(N'09:50:10' AS Time), CAST(N'1992-04-13' AS Date))
INSERT [dbo].[Log-In] ([LogInID], [UserID], [Time], [Date]) VALUES (25, 31, CAST(N'15:26:12' AS Time), CAST(N'1960-11-16' AS Date))
SET IDENTITY_INSERT [dbo].[Log-In] OFF
GO
SET IDENTITY_INSERT [dbo].[Log-out] ON 

INSERT [dbo].[Log-out] ([LogOutID], [UserID], [Time], [Date]) VALUES (2, 11, CAST(N'09:08:44' AS Time), CAST(N'2021-08-24' AS Date))
INSERT [dbo].[Log-out] ([LogOutID], [UserID], [Time], [Date]) VALUES (27, 24, CAST(N'22:26:29' AS Time), CAST(N'1998-02-28' AS Date))
INSERT [dbo].[Log-out] ([LogOutID], [UserID], [Time], [Date]) VALUES (28, 31, CAST(N'06:48:15' AS Time), CAST(N'1976-04-03' AS Date))
SET IDENTITY_INSERT [dbo].[Log-out] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [Order_Number], [Quantity], [OrderStatusID], [CustomerID], [AddressID], [PaymentID]) VALUES (1, N'200', 1, 4, 4, NULL, 1)
INSERT [dbo].[Order] ([OrderID], [Order_Number], [Quantity], [OrderStatusID], [CustomerID], [AddressID], [PaymentID]) VALUES (2, N'201', 2, 3, 5, NULL, 3)
INSERT [dbo].[Order] ([OrderID], [Order_Number], [Quantity], [OrderStatusID], [CustomerID], [AddressID], [PaymentID]) VALUES (3, N'0', 4, 4, 6, NULL, 4)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Status] ON 

INSERT [dbo].[Order_Status] ([OrderStatusID], [Order_Status]) VALUES (1, N'Confirmed')
INSERT [dbo].[Order_Status] ([OrderStatusID], [Order_Status]) VALUES (2, N'Packed')
INSERT [dbo].[Order_Status] ([OrderStatusID], [Order_Status]) VALUES (3, N'Collected')
SET IDENTITY_INSERT [dbo].[Order_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [PaymentMethodID], [Payment_Total], [Payment_Date], [Payment_Time], [isPaid], [Payment_Amount]) VALUES (1, 1, 50.0000, CAST(N'2021-02-04' AS Date), CAST(N'10:36:33' AS Time), 0, NULL)
INSERT [dbo].[Payment] ([PaymentID], [PaymentMethodID], [Payment_Total], [Payment_Date], [Payment_Time], [isPaid], [Payment_Amount]) VALUES (3, 2, 100.0000, CAST(N'2021-07-02' AS Date), CAST(N'06:39:28' AS Time), 1, 100.0000)
INSERT [dbo].[Payment] ([PaymentID], [PaymentMethodID], [Payment_Total], [Payment_Date], [Payment_Time], [isPaid], [Payment_Amount]) VALUES (4, 1, 150.0000, CAST(N'2021-11-30' AS Date), CAST(N'09:35:29' AS Time), 0, NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment_Method] ON 

INSERT [dbo].[Payment_Method] ([PaymentMethodID], [Description]) VALUES (1, N'Cash      ')
INSERT [dbo].[Payment_Method] ([PaymentMethodID], [Description]) VALUES (2, N'Card      ')
SET IDENTITY_INSERT [dbo].[Payment_Method] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCategoryID], [ProductTypeID], [Description], [InStock], [Image], [StockID], [Price]) VALUES (1, N'Marlboro Gold', 7, 3, N'Marlboro Gold Hand Rolling Tobacco is a fine cut Virginia blend from Philip Morris International. This premium quality tobacco is rich in flavour as you''d expect from the Marlboro brand and gives a smooth smoke.', 1, N'~/Content/shoppics/marlboro-gold-pack.jpg', 1, CAST(46 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCategoryID], [ProductTypeID], [Description], [InStock], [Image], [StockID], [Price]) VALUES (2, N'NikNaks 36g', 4, 1, N'South Africa''s favourite Nak. The NIKNAKS that you know and love still as crispy, still as crunchy... It all begins with mielies, which after milling are fried then sprinkled with our delicious flavours to bring you the fun Maize snack which you now hold in your hand.', 0, N'~/Content/shoppics/niknaks-original-cheese.png', 2, CAST(12 AS Decimal(18, 0)))
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductCategoryID], [ProductTypeID], [Description], [InStock], [Image], [StockID], [Price]) VALUES (3, N'Astros', 5, 1, N'Astros are the colourful, fun-to-eat, fun-to-share, candy and chocolate-coated biscuit bites.
Cadbury Astros Chocolate Box 150g.', 1, N'~/Content/shoppics/astros.png', 4, CAST(14 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product Category] ON 

INSERT [dbo].[Product Category] ([ProductCategoryID], [Name], [Description]) VALUES (2, N'Beverages', N'Drinks')
INSERT [dbo].[Product Category] ([ProductCategoryID], [Name], [Description]) VALUES (3, N'Food', N'Burgers n shit')
INSERT [dbo].[Product Category] ([ProductCategoryID], [Name], [Description]) VALUES (4, N'Snacks', N'niknaks')
SET IDENTITY_INSERT [dbo].[Product Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product Type] ON 

INSERT [dbo].[Product Type] ([ProductTypeID], [Name], [Description]) VALUES (1, N'VAT', N'14%')
INSERT [dbo].[Product Type] ([ProductTypeID], [Name], [Description]) VALUES (2, N'NoVAT', N'Bread rice n stuff')
INSERT [dbo].[Product Type] ([ProductTypeID], [Name], [Description]) VALUES (3, N'Excise', N'Cigarettes Always (Includes VAT)')
SET IDENTITY_INSERT [dbo].[Product Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([ProvinceID], [Name]) VALUES (1, N'Eastern Cape')
INSERT [dbo].[Province] ([ProvinceID], [Name]) VALUES (2, N'Free State')
INSERT [dbo].[Province] ([ProvinceID], [Name]) VALUES (3, N'Gauteng')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockID], [Stock_code], [Stock_Amount], [Description], [Date], [Quantity]) VALUES (1, N'MarlboroG', 100, N'Lung Cancer', CAST(N'2021-04-27T00:00:00.000' AS DateTime), 24)
INSERT [dbo].[Stock] ([StockID], [Stock_code], [Stock_Amount], [Description], [Date], [Quantity]) VALUES (2, N'Nik36g', 4, N'niknaks', CAST(N'2021-08-25T00:00:00.000' AS DateTime), 12)
INSERT [dbo].[Stock] ([StockID], [Stock_code], [Stock_Amount], [Description], [Date], [Quantity]) VALUES (4, N'Astros', 50, N'Choclit', CAST(N'2021-11-02T00:00:00.000' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [ContactNumber], [Email], [Address], [Website]) VALUES (1, N'Mondelez', N'Ridwaan', N'0123456789', N'ridwaan99@gmail.com', N'345 Coke Street', N'www.coke.com')
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [ContactNumber], [Email], [Address], [Website]) VALUES (3, N'Unilever', N'Rameez', N'0123987654', N'rameez99@gmail.com', N'678 OMO Street', N'www.omo.com')
INSERT [dbo].[Supplier] ([SupplierID], [CompanyName], [ContactName], [ContactNumber], [Email], [Address], [Website]) VALUES (4, N'AMKA', N'Uzair', N'0123654789', N'Uzair99@gmail.com', N'012 Toothpaste road', N'www.amka.co.za')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier Order Status] ON 

INSERT [dbo].[Supplier Order Status] ([SOStatusID], [SOStatusDescription]) VALUES (1, N'Ordered')
INSERT [dbo].[Supplier Order Status] ([SOStatusID], [SOStatusDescription]) VALUES (2, N'Paid')
INSERT [dbo].[Supplier Order Status] ([SOStatusID], [SOStatusDescription]) VALUES (3, N'Received')
SET IDENTITY_INSERT [dbo].[Supplier Order Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier_Order] ON 

INSERT [dbo].[Supplier_Order] ([SupplierOrderID], [SupplierID], [AdminID], [SOStatusID], [SupplierOrderNumber], [SupplierOrderDate], [SupplierOrderDescription], [SupplierOrderQuantity], [SupplierOrderNote]) VALUES (1, 1, 1, 1, N'1', CAST(N'2021-11-03T00:00:00.000' AS DateTime), N'no', 1, N'nah')
INSERT [dbo].[Supplier_Order] ([SupplierOrderID], [SupplierID], [AdminID], [SOStatusID], [SupplierOrderNumber], [SupplierOrderDate], [SupplierOrderDescription], [SupplierOrderQuantity], [SupplierOrderNote]) VALUES (5, 3, 2, 2, N'2', CAST(N'2021-04-27T00:00:00.000' AS DateTime), N'yip', 2, N'yeah')
INSERT [dbo].[Supplier_Order] ([SupplierOrderID], [SupplierID], [AdminID], [SOStatusID], [SupplierOrderNumber], [SupplierOrderDate], [SupplierOrderDescription], [SupplierOrderQuantity], [SupplierOrderNote]) VALUES (7, 4, 3, 4, N'4', CAST(N'2021-08-25T00:00:00.000' AS DateTime), N'maybe', 4, N'awe')
SET IDENTITY_INSERT [dbo].[Supplier_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier_Order_Line] ON 

INSERT [dbo].[Supplier_Order_Line] ([SupplierOrderLineID], [SupplierOrderID], [StockID], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Supplier_Order_Line] ([SupplierOrderLineID], [SupplierOrderID], [StockID], [Quantity]) VALUES (3, 5, 2, 2)
INSERT [dbo].[Supplier_Order_Line] ([SupplierOrderLineID], [SupplierOrderID], [StockID], [Quantity]) VALUES (5, 7, 4, 5)
SET IDENTITY_INSERT [dbo].[Supplier_Order_Line] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Name], [Surname], [Email], [ContactNumber], [UserRoleID]) VALUES (11, N'Max', N'Max       ', N'Smith     ', N'Max.Smith ', N'0123456789', 2)
INSERT [dbo].[User] ([UserID], [Username], [Name], [Surname], [Email], [ContactNumber], [UserRoleID]) VALUES (22, N'dpideon0', N'Dimitri', N'Pideon', N'dpideon0@cornell.edu', N'9058208322', 4)
INSERT [dbo].[User] ([UserID], [Username], [Name], [Surname], [Email], [ContactNumber], [UserRoleID]) VALUES (23, N'sgiron1', N'Skyler', N'Giron', N'sgiron1@dailymotion.com', N'7767165993', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User Role] ON 

INSERT [dbo].[User Role] ([UserRoleID], [Description]) VALUES (1, N'Cashier')
INSERT [dbo].[User Role] ([UserRoleID], [Description]) VALUES (2, N'Driver')
INSERT [dbo].[User Role] ([UserRoleID], [Description]) VALUES (3, N'Stock Clerk')
SET IDENTITY_INSERT [dbo].[User Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Vat] ON 

INSERT [dbo].[Vat] ([VatID], [VatAmount]) VALUES (1, CAST(15 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Vat] OFF
GO
SET IDENTITY_INSERT [dbo].[WriteOffLine] ON 

INSERT [dbo].[WriteOffLine] ([WriteOffLineID], [ProductID], [WriteOffSID], [Quantity]) VALUES (1, 1, 1, N'1')
INSERT [dbo].[WriteOffLine] ([WriteOffLineID], [ProductID], [WriteOffSID], [Quantity]) VALUES (2, 2, 2, N'2')
INSERT [dbo].[WriteOffLine] ([WriteOffLineID], [ProductID], [WriteOffSID], [Quantity]) VALUES (3, 3, 3, N'3')
SET IDENTITY_INSERT [dbo].[WriteOffLine] OFF
GO
SET IDENTITY_INSERT [dbo].[WriteOffS] ON 

INSERT [dbo].[WriteOffS] ([WriteOffSID], [Reason]) VALUES (1, N'Damaged')
INSERT [dbo].[WriteOffS] ([WriteOffSID], [Reason]) VALUES (2, N'Stolen')
INSERT [dbo].[WriteOffS] ([WriteOffSID], [Reason]) VALUES (3, N'I was hungry (Drawings)')
SET IDENTITY_INSERT [dbo].[WriteOffS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2021/08/31 10:38:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2021/08/31 10:38:08 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_249]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [fkIdx_249] ON [dbo].[Order_Product]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_252]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [fkIdx_252] ON [dbo].[Order_Product]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_238]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [fkIdx_238] ON [dbo].[Supplier_Order_Line]
(
	[SupplierOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [fkIdx_260]    Script Date: 2021/08/31 10:38:08 ******/
CREATE NONCLUSTERED INDEX [fkIdx_260] ON [dbo].[Supplier_Order_Line]
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([cityID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_City]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_User]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([provinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Address]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Delivery] FOREIGN KEY([DeliveryStatusID])
REFERENCES [dbo].[DeliverStatus] ([DeliveryStatusID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Delivery]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Employee] FOREIGN KEY([UserID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Order]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_Product] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_Status] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[Order_Status] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD  CONSTRAINT [FK_251] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Order_Product] CHECK CONSTRAINT [FK_251]
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[Order_Product] CHECK CONSTRAINT [FK_Order_Product_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Payment_Method] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[Payment_Method] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Payment_Method]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product Category] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Product Category] ([ProductCategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Product Type] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[Product Type] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Product Type]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Stock] FOREIGN KEY([StockID])
REFERENCES [dbo].[Stock] ([StockID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Stock]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Administrator] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Administrator] ([AdminID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK_Supplier_Order_Administrator]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK_Supplier_Order_Supplier]
GO
ALTER TABLE [dbo].[Supplier_Order]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Order_Supplier Order Status] FOREIGN KEY([SOStatusID])
REFERENCES [dbo].[Supplier Order Status] ([SOStatusID])
GO
ALTER TABLE [dbo].[Supplier_Order] CHECK CONSTRAINT [FK_Supplier_Order_Supplier Order Status]
GO
ALTER TABLE [dbo].[Supplier_Order_Line]  WITH CHECK ADD  CONSTRAINT [FK_237] FOREIGN KEY([SupplierOrderID])
REFERENCES [dbo].[Supplier_Order] ([SupplierOrderID])
GO
ALTER TABLE [dbo].[Supplier_Order_Line] CHECK CONSTRAINT [FK_237]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User Role] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[User Role] ([UserRoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User Role]
GO
ALTER TABLE [dbo].[WriteOffLine]  WITH CHECK ADD  CONSTRAINT [FK_WriteOffLine_WriteOffS] FOREIGN KEY([WriteOffSID])
REFERENCES [dbo].[WriteOffS] ([WriteOffSID])
GO
ALTER TABLE [dbo].[WriteOffLine] CHECK CONSTRAINT [FK_WriteOffLine_WriteOffS]
GO
USE [master]
GO
